APScheduler==3.6.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
decorator==4.4.2
faunadb==4.0.1
future==0.18.2
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.10
iso8601==0.1.13
pycparser==2.20
python-telegram-bot==13.1
pytz==2020.4
requests==2.25.1
six==1.15.0
telegram==0.0.1
tornado==6.1
tzlocal==2.1
urllib3==1.26.2
